/* .outerBox{
    /* width: 100vh; 
    height: 100vh;  
    border: 2px solid black; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color:  #173753; 
    padding: 0px; 
}
 commented this out because restricting the content boxes inside (container1 - in About.js) 
 */